name: Build and push image
on:
  push:
    paths-ignore:
      - 'README.md'
      - 'renovate.json'
  pull_request:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: kennethso168/node-red
  IMAGE_DESC: Node-RED with the addition of NPM package passport-openidconnect

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Get version tag from Dockerfile
        id: tag_version
        run: echo "VERSION_TAG=$(cat Dockerfile | head -n 1 | cut -d':' -f2)" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: "${{env.REGISTRY}}/${{env.IMAGE_NAME}}"
          tags: |
            type=semver,pattern={{version}},value=${{ steps.tag_version.outputs.VERSION_TAG }}
          labels: |
            org.opencontainers.image.description=${{ env.IMAGE_DESC }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
